<html lang="en">
<head>
    <title>ScriptRunner - ...</title>
    <script>
        function print(text){
            document.querySelector("#output").textContent += text;
        }

        let loc = window.location, new_uri;
        if (loc.protocol === "https:") {
            new_uri = "wss:";
        } else {
            new_uri = "ws:";
        }
        new_uri += "//" + loc.host + "/ws{{ path }}";

        let socket = new WebSocket(new_uri);

        socket.onmessage = function (event) {
            event.data.text().then(print);
        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                print(`\n[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
            } else {
                // e.g. server process killed or network down
                // event.code is usually 1006 in this case
                print('\n[close] Connection died');
            }
        };

        socket.onerror = function (error) {
            print(`\n[error] ${error.message}`);
        };
    </script>
</head>
<body>
<pre id="output"></pre>
</body>
</html>